<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Projct2" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Hmood\PycharmProjects\pythonProject\venv\Scripts\python.exe|C:\Users\Hmood\PycharmProjects\pythonProject\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>

<appSettings>
    <add key="WSGI_HANDLER" value="app.app" /> <!-- {name_of_file}.{name_of_flask_app}-->
    <add key="PYTHONPATH" value="C:\Users\Hmood\PycharmProjects\pythonProject" />
	<!-- <add key="WSGI_LOG" value="C:\Users\Hmood\PycharmProjects\pythonProject\app.log" />-->

</configuration>
